# <h1> IS362 - Project 1: Airline Delayed Chart </h1>

<b>(1)</b> Create a .CSV file (or optionally, a MySQL database!) that includes all of the information below. You may change the structure of the information as you like.

<b>(2)</b> Read the information from your .CSV file into pandas, and perform analysis to compare the arrival delays for the two airlines.

<b>(3)</b> Your code should be in a Jupyter (IPython) notebook (in GitHub), and should include narrative descriptions of your analysis and conclusions.


<b> CREATING AND READING A .CSV FILE </b>

# importing required libraries
import pandas as pd
import csv
import matplotlib.pyplot as plt
import urllib.request
import matplotlib 
import io
import requests

%matplotlib inline

import numpy as np
import pandas as pd

In [3]:
# Read csv from local file              
file_name = "\\airlines.csv"
LOC_ROOT = %pwd
FILE_LOC = LOC_ROOT + file_name
DATA = pd.read_csv(FILE_LOC)

In [7]:
# Looking for dealyed only                             
DELAYED = DATA.sort_values(['Delayed'])
maxdelay = DATA['Delayed'].max()
DATA['Airlines']
DATA['Delayed'].plot()
delaytrue = DATA['Delayed']==maxdelay
row = DATA[delaytrue]

# Airlines
Airlines = DATA['Airlines'] == 'Alaska'
DATA[Airlines]['Delayed'].plot()

Airlines = DATA['Airlines'] == 'AM WEST'
DATA[Airlines]['Delayed'].plot()

In [8]:
Air = DATA['Airlines'] == 'AM WEST'                         
DATA[Air]['Delayed'].plot.bar()

DATA[Air]

  Airlines           City  On time  Delayed
5  AM WEST    Los Angeles      694      117
6  AM WEST        Phoenix     4840      415
7  AM WEST      San Diego      383       65
8  AM WEST  San Francisco      320      129
9  AM WEST        Seattle      201       61

In [9]:
Air = DATA['Airlines'] == 'Alaska'                
DATA[Air]['Delayed'].plot.bar()
DATA[Air]

  Airlines           City  On time  Delayed
0   Alaska    Los Angeles      497       62
1   Alaska        Phoenix      221       12
2   Alaska      San Diego      212       20
3   Alaska  San Francisco      503      102
4   Alaska        Seattle     1841      305